<!-- Is reused to render within tabs as well as independently -->
{% if website_specifications %}
<div class="{{ 'mt-2' if not show_tabs else 'mt-5'}} item-website-specification">
	<div class="col-md-11">
		{% if not show_tabs %}
			<div class="product-title mb-5 mt-4">
				Product Details
			</div>
		{% endif %}
            <table class="table table-striped table-bordered " width="60%">
                {% for row in website_specifications %}
                
                <tr>
                    <td width="50%" style="padding:0.1rem;">
                        <p style="margin-bottom: 0px;">{{ row.specification or '' }}</p>
                    </td>
                    <td width="50%" style="padding:0.1rem;">
                        <p style="margin-bottom: 0px;">{{ row.value or ''}}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
	</div>
</div>
{% endif %}
<!-- {% if not has_variants %} {% set doctype = frappe.db.get_value("Website Item", doc.name, "item_code") %}
<div class="container-fluid p-lr-50">
	{% set item_doc = frappe.get_doc("Item", {'name': doctype}) %}
	{% if item_doc.specifications %}
		{{ item_doc.name }}            
	<br>
	<table class="table table-striped table-bordered " width="60%">
		{% for row in item_doc.specifications %}
		
		<tr>
			<td width="50%" style="padding:0.1rem;">
				<p style="margin-bottom: 0px;">{{ row.specification or '' }}</p>
			</td>
			<td width="50%" style="padding:0.1rem;">
				<p style="margin-bottom: 0px;">{{ row.value or ''}}</p>
			</td>
		</tr>
		{% endfor %}
	</table>
	<br>
	{% endif %}
</div>
{% endif %} -->