{% set width_class = "expand" if not slides else "" %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set price_info = product_info.get('price') or {} %}

<div class="col-md-7 product-details {{ width_class }}">
	<div class="d-flex">
		<!-- title -->
		<div class="product-title col-11" itemprop="name">
			<h1 style ="font-size: 20px;">
				{{ doc.web_item_name }}
				
			</h1>
		</div>
		<div  style="position: relative;">
            <a class="eie-button relative"  ignore_permissions=True style="margin: 0px; transform: translate(0px, 0px); width:100px; 
                                              position: absolute;;
                                              top: 5px;"
                href='/printview?doctype={{ doc.doctype}}&name={{ doc.name }}&format=Website%20Items%20EIE' target="_blank">
                {{ _("Print") }}
            </a>
        </div>
		<!-- Wishlist -->
		{% if cart_settings.enable_wishlist %}
			<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} ml-2"
				data-item-code="{{ doc.item_code }}">
				<svg class="icon sm">
					<use class="{{ 'wished' if wished else 'not-wished' }} wish-icon" href="#icon-heart"></use>
				</svg>
			</div>
		{% endif %}
	</div>



	<p class="product-item-code">
		<span itemprop="name">Model No: {{ frappe.db.get_value("Item",doc.item_code,"model_no")}}</span>
	</p>
	
	<div class="product-description-font" itemprop="description">
		{% if frappe.utils.strip_html(doc.web_long_description or '') %}
			{{ doc.web_long_description | safe }}
		{% elif frappe.utils.strip_html(doc.description or '')  %}
			{{ frappe.db.get_value("Item",doc.item_code,"small_description") | safe }}
		{% else %}
			{{ "" }}
		{% endif  %}
		</div>
	{% if has_variants %}
		<!-- configure template -->
		<!-- {% include "templates/generators/item/item_configure.html" %} -->
		{% include "templates/generators/item/item_variant.html" %}
	{% else %}
		<!-- add variant to cart -->
		{% include "templates/generators/item/item_add_to_cart.html" %}
	{% endif %}
	<!-- description -->
	
	
</div>

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{% endblock %}

<script>
	$('.page_content').on('click', '.like-action-item-fp', (e) => {
			// Bind action on wishlist button
			const $btn = $(e.currentTarget);
			webshop.webshop.wishlist.wishlist_action($btn);
		});
</script>
