{% set width_class = "expand" if not slides else "" %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}
{% set price_info = product_info.get('price') or {} %}

<div class="col-md-7 product-details {{ width_class }}">
	<div class="d-flex">
		<!-- title -->
		<div class="product-title col-11" itemprop="name">
			<h1 style ="font-size: 20px;">
				{{ doc.web_item_name }}
				
			</h1>
		</div>
		<div  style="position: relative;">
            <a class="eie-button relative"  ignore_permissions=True style="margin: 0px; transform: translate(0px, 0px); width:100px; 
                                              position: absolute;;
                                              top: 5px;"
                href='/printview?doctype={{ doc.doctype}}&name={{ doc.name }}&format=Website%20Items%20EIE' target="_blank">
                {{ _("Print") }}
            </a>
        </div>
		<!-- Wishlist -->
		{% if cart_settings.enable_wishlist %}
			<div class="like-action-item-fp like-action {{ 'like-action-wished' if wished else ''}} ml-2"
				data-item-code="{{ doc.item_code }}">
				<svg class="icon sm">
					<use class="{{ 'wished' if wished else 'not-wished' }} wish-icon" href="#icon-heart"></use>
				</svg>
			</div>
		{% endif %}
	</div>



	<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
		{% if has_variants %} {% set doc = frappe.get_doc("Item",{'name':variant.name}) %}{% endif %}
		{% if doc.model_no %}
		<p style="margin-bottom: 0px;">
			<span class="bold" style=" color: #fb383b; font-size: 15px;"> Model Number : {{ doc.model_no or '' }} </span>
		</p>
		{% endif %}
		{% if not has_variants %} 
		{% set item_doc = frappe.get_doc("Item", item_code) %}
		{% if item_doc.model_no %}
		<p style="margin-bottom: 0px;">
			<span class="bold" style=" color: #fb383b; font-size: 15px;"> Model Number : {{ item_doc.model_no or '' }} </span>
		</p>
		{% endif %}
		{% endif %}
	</div>
	
	<div class="product-description-font" itemprop="description">
		{{ short_description }}
		</div>
		<br>
		<br>
	{% if has_variants %}
		<!-- configure template -->
		<!-- {% include "templates/generators/item/item_configure.html" %} -->
		{% include "templates/generators/item/item_variant.html" %}
	{% else %}
		<!-- add variant to cart -->
		{% include "templates/generators/item/item_add_to_cart.html" %}
	{% endif %}
	<!-- description -->
	
	
</div>

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
{% endblock %}

<script>
	$('.page_content').on('click', '.like-action-item-fp', (e) => {
			// Bind action on wishlist button
			const $btn = $(e.currentTarget);
			webshop.webshop.wishlist.wishlist_action($btn);
		});
</script>
