
<ul class="tabs p-lr-50">
    <li class="activated" rel="tab1">
        <h5 class="dark-text sizing">
            More Information
        </h5>
    </li>
    <li rel="tab2">
        <h5 class="dark-text sizing">
            Technical specification
        </h5>
    </li>
    <li rel="tab3" id="accesosary">
        <h5 class="dark-text sizing">
            Accessories
        </h5>
    </li>
    <li rel="tab4" id="spares-item">
        <h5 class="dark-text sizing">
            Spares
        </h5>
    </li>
    {% if doc.instruction_manual %}
    <li rel="tab5">
        <h5 class="dark-text sizing download">
            Download <span></span>
        </h5>
    </li>
    {% endif %}
</ul>
<div class="tab_container">
    <div class="information-container d-flex justify-content-between">
        <h5 class="d_active tab_drawer_heading "  rel="tab1">More Information</h5>
        <img src="/files/down-thin-arrow.svg" class="specification_arrow" alt="up-botton" width="13"/>
    </div>
    <div id="tab1" class="tab_content">
        <div class="container-fluid product-video">
            <div class="row  p-lr-50">
                <!-- start video section -->
                {% if frappe.db.get_value("Item",doc.name,'youtube_link') %}
                <div class="col-lg-5 col-xl-5 col-md-12 mt-4 order-lg-2 order-md-1 order-sm-1">
                    <div class="video-image active">
                        <div class="play active"></div>
                        <img alt="{{ website_item_name or item_name }}" class="active" />
                    </div>
                    <div class="d-flex justify-content-center" id="product-youtube" data-src="{{youtube_link }}">
                    </div>
                </div>
                <div class="col-lg-7 col-xl-7 col-md-12 mt-2 order-lg-1 order-md-2 order-sm-1">
                    <br>
                    
                {% if has_variants %} 
                {% set doc = frappe.get_doc("Item",{'name':variant.name}) %}
                    {% set longdescription = doc.website_long_description | replace('<div class="ql-editor read-mode"><p><br></p></div>', "") %} 
                    {% if doc.website_long_description and longdescription %}
                        {{ doc.website_long_description }}
                    {% else %}
                        <p>{{ description }}</p>
                    {% endif %}
                    
                {% else %}
                    {% set longdescription = doc.website_long_description | replace('<div class="ql-editor read-mode"><p><br></p></div>', "") %} 
                    {% if doc.website_long_description and longdescription %}
                        {{ doc.website_long_description }}
                    {% else %}
                        <p>{{ description }}</p>
                    {% endif %}
                {% endif %}
                </div>
                {% else %}
                <div class="col-12">
                {% if has_variants %} 
                {% set doc = frappe.get_doc("Item",{'name':variant.name}) %}
                    {% set longdescription = doc.website_long_description | replace('<div class="ql-editor read-mode"><p><br></p></div>', "") %} 
                        {% if doc.website_long_description and longdescription %}
                            {{ doc.website_long_description }}
                        {% else %}
                            <p>{{ description }}</p>
                        {% endif %}
                    {% else %}
                    {% set longdescription = doc.website_long_description | replace('<div class="ql-editor read-mode"><p><br></p></div>', "") %} 
                        {% if doc.website_long_description and longdescription %}
                            {{ doc.website_long_description }}
                        {% else %}
                        <p>{{ description }}</p>
                        {% endif %}
                        
                {% endif %}
                       
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- #tab1 -->
    <div class="information-container d-flex justify-content-between">
        <h5 class="tab_drawer_heading " rel="tab2">Technical specification</h5>
        <img src="/files/up-thin-arrow.svg" class="specification_arrow" alt="up-botton" width="13"/>
    </div>
    <div id="tab2" class="tab_content">
        {% if has_variants %} {% set doc = frappe.get_doc("Item",{'name':variant.name}) %}{% endif %}

        <div class="container-fluid p-lr-50">
            {% if doc.specifications %}
            <br>
            <table class="table table-striped table-bordered " width="60%">
                {% for row in doc.specifications %}
                <tr>
                    <td width="50%" style="padding:0.1rem;">
                        <p style="margin-bottom: 0px;">{{ row.specification or '' }}</p>
                    </td>
                    <td width="50%" style="padding:0.1rem;">
                        <p style="margin-bottom: 0px;">{{ row.value or ''}}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <br>
            {% endif %}
        </div>
    </div>
    <!-- #tab2 -->
    <div class="information-container d-flex justify-content-between">
        <h5 class="tab_drawer_heading " rel="tab3"> Accessories</h5>
        <img src="/files/up-thin-arrow.svg" class="specification_arrow" alt="up-botton" width="13" />
    </div>
    <div id="tab3" class="tab_content">

        {% if doc.optional_accessories %}
        <section class=" related-items remove_padding ">
            <div class="container-fluid p-lr-50 products-list-container">
                <div class="products-list finbyz row">
                    {% for link in doc.optional_accessories %}
                    {% if frappe.db.get_value("Item",link.accessory,'show_in_website') %}
                    <div class="card my-3 col-xl-3 col-md-6 col-lg-4 col-sm-6 col-12">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body card-image">
                                    <img class="website-image" alt="{{ link.accessory }}"
                                        src="{{ frappe.db.get_value('Item',link.accessory,'image') or '/files/eie-icon.svg' }}"
                                        title="{{ link.accessory }}" width="240">
                                </div>
                            </div>
                        </div>
                        <div class="card-content card-body" style="padding-top:0px">
                            <a href="/{{ frappe.db.get_value('Item',link.accessory,'route') }}">

                                <h5 class="card-title sub-text">
                                    {{ frappe.db.get_value('Item',link.accessory,'website_item_name') or
                                    link.accessory or '' }}
                                </h5>
                                <p class="card-title sub-text">
                                    {{ frappe.db.get_value('Item',link.accessory,'small_description') or ''}}
                                </p>
                            </a>
                            <a href="/{{ frappe.db.get_value('Item',link.accessory,'route') }}"><div class="eie-button  product-button" style="margin-left: 50%;">{{ _('View More') }}
                                <div class="eie-ring eie-btn-bottom "></div> </div>
                            </a>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

    </div>
    <!-- #tab3 -->
    <div class="information-container d-flex justify-content-between">
        <h5 class="tab_drawer_heading " rel="tab4">Spares</h5>
        <img src="/files/up-thin-arrow.svg" class="specification_arrow" alt="up-botton" width="13" />
    </div>
    <div id="tab4" class="tab_content">
        
        {% if doc.spares %}

        <section class=" related-items remove_padding">
            <div class="container-fluid products-list-container p-lr-50">
                <div class="products-list finbyz row">
                    {% for link in doc.spares %}
                    {% if frappe.db.get_value("Item",link.spare,'show_in_website') %}
                    <div class="card my-3 col-xl-3 col-md-6 col-lg-4 col-sm-6 col-12">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body card-image">
                                    <img class="website-image" alt="{{ link.spare }}"
                                        src="{{ frappe.db.get_value('Item',link.spare,'image') or '/files/eie-icon.svg' }}"
                                        title="{{ link.spare }}" width="240px">
                                </div>
                            </div>
                        </div>
                        <div class="card-content card-body" style="padding-top:0px">
                            <a href="/{{ frappe.db.get_value('Item',link.spare,'route') }}">
                                <h5 class="card-title sub-text">
                                    {{ link.spare }}
                                </h5>
                            </a>
                            <a href="/{{ frappe.db.get_value('Item',link.spare,'route') }}"><div class="eie-button  product-button" style="margin-left: 50%;">{{ _('View More') }}
                                <div class="eie-ring eie-btn-bottom "></div> </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}
    </div>
    <!-- #tab4 -->
    {% if doc.instruction_manual %}
    <div class="information-container d-flex justify-content-between">
        <h5 class="tab_drawer_heading  download" rel="tab5">Download<span></span></h5>
        <img src="/files/up-thin-arrow.svg" class="specification_arrow" alt="up-botton" width="13" />
    </div>
    <div id="tab5" class="tab_content">
        <div class="container-fluid mt-4 p-lr-50">
            <div class="row ml-1">
                <p style="font-weight: bold;">Manual</p>
            </div>
            <div class="manual-container ml-4">
                <a style="cursor: pointer; text-transform: uppercase;" target="_blank" href="{{ doc.instruction_manual }}">
                    {{ doc.item_name }} Manual
                </a>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- #tab5 -->
</div>
<!-- .tab_container -->
<script>
    $(document).ready(() => { 
        var spares_items = $('#spares-item'),
            related_items = $('#accesosary'),
            related_items_length = $('.related-items .products-list').children().length,
            spares_items_lenght= $('.spares-items .products-list').children().length;
            // spares_items_lenght == 0 ? $(spares_items).css("display", "none") : $(spares_items).css("display", "block");
            // related_items_length == 0 ?  $(related_items).css("display","none") : $(related_items).css("display","block");
          
        $(".tab_content").hide();
        $(".tab_content:first").show();

        /* if in tab mode */
        $("ul.tabs li").click(function () {

            $(".tab_content").hide();
            var activeTab = $(this).attr("rel");
            $("#" + activeTab).fadeIn();

            $("ul.tabs li").removeClass("activated");
            $(this).addClass("activated");

            $(".tab_drawer_heading").removeClass("d_active");
            $(".tab_drawer_heading[rel^='" + activeTab + "']").addClass("d_active");
            $(".tab_drawer_heading[rel^='" + activeTab + "']").siblings().attr('src','/files/down-thin-arrow.svg');

        });
        /* if in drawer mode */
        $(".tab_drawer_heading").click(function () {
            $(".tab_content").hide();
            var d_activeTab = $(this).attr("rel");
            $("#" + d_activeTab).fadeIn();

            $(".tab_drawer_heading").removeClass("d_active");
            $(this).addClass("d_active");
            $(".tab_drawer_heading").siblings().attr('src','/files/up-thin-arrow.svg');
            $(this).siblings().attr('src','/files/down-thin-arrow.svg');

            $("ul.tabs li").removeClass("activated");
            $("ul.tabs li[rel^='" + d_activeTab + "']").addClass("activated");
        });
        $('ul.tabs li').last().addClass("tab_last");
        /* diaplsy  download button */
        var manual_length = $('.manual-container').children().length;
            $('.download span').text(`(${manual_length})`);
        });
</script>