{% if shopping_cart and shopping_cart.cart_settings.enabled %}

{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}

<div class="item-cart row mt-2" data-variant-item-code="{{ item_code }}">
	<div class="col-12">
		{% if cart_settings.show_price and product_info.price %}
		<h4>
			{{ product_info.price.formatted_price_sales_uom }}
			<small class="text-muted">({{ product_info.price.formatted_price }} / {{ product_info.uom }})</small>
		</h4>
		{% endif %}
		{% if cart_settings.show_stock_availability %}
		<div>
			{% if product_info.in_stock == 0 %}
			<span class="text-danger">
				{{ _('Not in stock') }}
			</span>
			{% elif product_info.in_stock == 1 %}
			<span class="text-success">
				{{ _('In stock') }}
				{% if product_info.show_stock_qty and product_info.stock_qty %}
				({{ product_info.stock_qty[0][0] }})
				{% endif %}
			</span>
			{% endif %}
		</div>
		{% endif %}
		{% if product_info.price and (cart_settings.allow_items_not_in_stock or product_info.in_stock) %}
		<div class="d-md-flex flex-md-column flex-lg-row">
			{% if frappe.db.get_value("Item",doc.name,'e_catalogue') %}
			{% set c = frappe.db.get_value("E Catalogue",doc.e_catalogue,'download_manual') %}
				<a target="_blank" href="{{ c }}" class="eie-button cart-button  moblie-button my-md-1 mx-1">
					Download Manual
				</a>
			{% endif %}
			<a href="/cart" class="eie-button  cart-button moblie-button btn-view-in-cart my-md-1 mx-1  {% if not product_info.qty %} hidden	{% endif %}">
					{{ _("View in Cart") }}
			</a>
			<div data-item-code="{{item_code}}" class="eie-button  cart-button btn-add-to-cart moblie-button my-md-1  mx-1">{{ _("Add
				to Cart") }}
			</div>

		</div>
		{% endif %}
	</div>
</div>

<script>
	window.onload = function () {
		localStorage.setItem("url", "{{ url }}");
	}

	frappe.ready(() => {
		$('.page_content').on('click', '.btn-add-to-cart', (e) => {
			const $btn = $(e.currentTarget);
			$btn.prop('disabled', true);
			const item_code = $btn.data('item-code');
			erpnext.shopping_cart.update_cart({
				item_code,
				qty: 1,
				callback(r) {
					$btn.prop('disabled', false);
					if (r.message) {
						$('.btn-add-to-cart, .btn-view-in-cart').toggleClass('hidden');
					}
				}
			});
		});
	});
</script>

{% endif %}