<header class="eieNav noDropdownTransition">
    {% include "templates/includes/header-contact.html" %}
    <ul class="navRoot">
        <li class="navSection logo">
            <div class="eie-logo">
                <a href="/">
                    <img src="/files/eie-logo.svg" class="eie-logo" alt="EIE Instruments Pvt Ltd"
                        title="EIE Instruments Pvt Ltd" style="transform: translate(0%, 0%);"></a>
            </div>
        </li>
        <li class="navSection primary p-2">
            <a class="rootLink hasDropdown" data-dropdown="about" href="/about">
                Company
            </a>
            <a class="rootLink hasDropdown" data-dropdown="product">
                Products
            </a>
            <a class="rootLink hasDropdown" data-dropdown="service">
                Services
            </a>
            <a class="rootLink hasDropdown" data-dropdown="clients">
                Clientele
            </a>
            <a class="rootLink" href="/trade-shows">
                Event
            </a>
            <a class="rootLink hasDropdown" href="/contact" data-dropdown="contact">
                Contact
            </a>
        </li>
        <li class="navSection secondary">
            {% if not hide_login %}
            <a href="/login" class="rootLink btn-login-area">{{ _("Login") }}</a>

            {% endif %}
            {% if frappe.session.user != 'Guest' %}
            <a href="#" class="rootLink hasDropdown" data-dropdown="eie-login" data-label="website-post-login">
                <span class="user-image-wrapper"></span>
                <span class="full-name"></span>
                <b class="caret"></b>
            </a>
            {% endif %}
            <a href="#" class="d-none"></a>
        </li>
        <!-- mobile section -->
        <li class="navSection mobile">
            <div id="content">
                <div id="navsidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="nav-wrapper" style="left: -50px;">
                <nav id="navsidebar" class="vh-100">
                    <!-- navsidebar Links -->
                    <div class="d-flex justify-content-center p-2">
                        <img src="/files/eie-logo.svg" alt="logo" title="Logo" style="
                        width: 260px;">
                    </div>
                    <ul class="list-unstyled components">
                        <li class="p-3">
                            <a href="/">Home</a>
                        </li>
                        <li class="p-3">
                            <a href="/about" data-ls="aboutsubmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Web App Development" height="15" width="15">
                                About</a>
                            <img data-ls="aboutsubmenu" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='aboutsubmenu'>
                                <li class="p-3">
                                    <a href="/about"><img class="nav-service-icon" src="/files/about-eie.svg"
                                            alt="about-eie" title="About-eie">About EIE</a>
                                </li>
                                <li class="p-3">
                                    <a href="/Quality%20policy"><img class="nav-service-icon" src="/files/quality.svg"
                                            alt="Quality-policy" title="About Quality-policy">Quality Policy</a>
                                </li>
                                <li class="p-3">
                                    <a href="/certificate"><img class="nav-service-icon"
                                            src="/files/certificate3a56c4.svg" alt="Certificete"
                                            title="Certificate">Certificate</a>
                                </li>
                            </ul>
                        </li>

                        <li class="p-3">
                            {% set parent_item_group = frappe.get_all("Website Itemgroup",{'parent_website_itemgroup':'All Item Groups','show_in_website':1,'is_group':1}, order_by="priority") %}
                            {% set data = {} %}
                            {% for item_group in parent_item_group %}
                            {% set _ = data.update({item_group.name:frappe.get_all('Website Itemgroup',{'parent_website_itemgroup':item_group.name})}) %}
                            {% endfor%}
                            <a href="/product" data-ls="products" data-toggle="collapse" aria-expanded="false"
                                class="go-tosub-menu">
                                
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" height="15" width="15">
                                Products
                            </a>
                            <img data-ls="products" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled" id='products'>
                                {% for key, value in data.items() %}
                                {% set parent_doc = frappe.get_doc("Website Itemgroup",key)%}
                                <li class="p-3">
                                    <img class="nav-service-icon" src="{{ frappe.db.get_value('Website Itemgroup',key,'svg') }}" alt="{{parent_doc.name}}"
                                        title="{{parent_doc.name}}">
                                    <a href='/{{ parent_doc.route }}'
                                        class="link-underline p-1">{{ parent_doc.name }}</a>
                                </li>
                                {% endfor %}
                                <li class="text-center">
                                    <a  href="/all-products">
                                        <h6 class="title-underline">View All</h6>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="p-3">
                            <a href="" data-ls="servicesubmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Services" height="15" width="15">
                                Services</a>
                            <img data-ls="servicesubmenu" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='servicesubmenu'>

                                <li class="p-3">
                                    <a href="/calibration-and-validation-services"><img class="nav-service-icon"
                                            src="/files/calibration_validation_icon.svg"
                                            alt="calibration and validation service"
                                            title="Calibration & Validation Services">Calibration & Validation
                                        Services</a>
                                </li>
                                <li class="p-3">
                                    <a href="/manufacturing-facilities"><img class="nav-service-icon"
                                            src="/files/factory.svg" alt="Manufacturing Facilities"
                                            title="Manufacturing Facilities">Manufacturing Facilities</a>
                                </li>
                            </ul>
                        </li>
                        <li class="p-3">
                            <a href="" data-ls="clientelesubmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Services" height="15" width="15">
                                Clientele</a>
                            <img data-ls="clientelesubmenu" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='clientelesubmenu'>

                                <li class="p-3">
                                    <a href="/Customer"><img class="nav-service-icon"
                                            src="/files/target.svg"
                                            alt="Clients"
                                            title="Clients">Clients</a>
                                </li>
                                <li class="p-3">
                                    <a href="/testimonial"><img class="nav-service-icon"
                                            src="/files/review.svg" alt="Testimonials"
                                            title="Testimonials">Testimonials</a>
                                </li>
                            </ul>
                        </li>
                        <li class="p-3">
                            <a href="/trade-shows">Event</a>
                        </li>
                        <li class="p-3">
                            <a href="/about" data-ls="ContactUsmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="Web App Development" height="15" width="15">
                                Contact </a>
                            <img data-ls="ContactUsmenu" src="/files/right-arrow-nav.svg"
                                class="go-tosub-menu ml-5 float-right mt-2" alt="right-arrow" height="15" width="15">
                            <ul class="collapse list-unstyled ml-5" id='ContactUsmenu'>
                                <li class="p-3">
                                    <a href="/contact"><img class="nav-service-icon" src="/files/phone-call.svg"
                                            alt="Contact us" title="Contact us">Contact us</a>
                                </li>
                                <li class="p-3">
                                    <a href="/inquiry?new=1"><img class="nav-service-icon" src="/files/clipboard.svg"
                                            alt="Inquiry" title="Inquiry">Inquiry</a>
                                </li>
                                <li class="p-3">
                                    <a href="/jobs"><img class="nav-service-icon" src="/files/job-search.svg"
                                            alt="Job opening" title="Job opening">Job opening</a>
                                </li>
                                <!-- <li class="p-3">
                                    <a href="/issues"><img class="nav-service-icon" src="/files/project.svg"
                                            alt="Issues" title="Issues">Issues</a>
                                </li> -->
                            </ul>
                        </li>
                        {% if not hide_login %}
                        <li class="btn-login-area">
                            <a href="/login">{{ _("Login") }}</a>
                        </li>
                        {% endif %}
                        <li>
                            <a data-ls="loginsubmenu" class="go-tosub-menu" data-toggle="collapse"
                                aria-expanded="false">
                                <img class="left-arrow nav-service-icon d-none" src="/files/left-arrow-nav.svg"
                                    alt="Left Arrow" title="About Company">
                                <span class="user-image-wrapper"></span>
                                <span class="full-name"></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="collapse list-unstyled ml-5" id='loginsubmenu'>
                                <li>
                                    <a class="" href="/me" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-my-account.svg" alt="About FinByz"
                                            title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('My Account') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-logout.svg" alt="About FinByz"
                                            title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('Logout') }}
                                        </h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                        <img class="nav-service-icon" src="/files/nav-switch-to-desk.svg"
                                            alt="About FinByz" title="About FinByz">
                                        <h6 class="link-underline mt-1">{{ _('Switch To Desk') }}
                                        </h6>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </li>
    </ul>

    <div class="dropdownRoot">
        <div class="dropdownBackground">
            <div class="alternateBackground"></div>
        </div>
        <div class="dropdownArrow"></div>
        <div class="dropdownContainer">
            <!-- Product SUb menu -->
            <div class="dropdownSection left industryGroup" data-dropdown="product">
                <div class="dropdownContent dropdownContent-product container-fluid">
                    <div class="linkGroup">
                        <div class="industry-group row pt-3 pl-4">
                            <a href='#' class="nav-pr">
                                <img alt="Industry" title="Industry" src="/files/eie-icon.svg"
                                    class="nav-icon float-left pt-2 pr-2">
                                <h3 class="">Industries</h3>
                            </a>
                            {% include "templates/includes/navbar/nav_menu.html" %}
                        </div>
                    </div>
                    <ul class="linkGroup linkList prodsubGroup" style="padding:0px">
                        <li class="text-center">
                            <a  href="/all-products">
                                <h6 class="title-underline my-2">View All</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- About Sub menu -->
            <div class="dropdownSection" data-dropdown="about">
                <div class="dropdownContent" style="width: 200px;">
                    <ul class="linkGroup">
                        <li>
                            <a class="linkContainer" href="/about">
                                <img class="nav-service-icon" src="/files/about-eie.svg" alt="Certificate"
                                    title="Certificate">
                                <h6 class="link-underline mt-1">About EIE</h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer" href="/Quality%20policy">
                                <img class="nav-service-icon" src="/files/quality.svg" alt="Quality Policy"
                                    title="Quality Policy">
                                <h6 class="link-underline mt-1">Quality Policy
                                </h6>
                            </a>
                        </li>

                        <li>
                            <a class="linkContainer" href="/certificate">
                                <img class="nav-service-icon" src="/files/certificate3a56c4.svg" alt="Certificate"
                                    title="Certificate">
                                <h6 class="link-underline mt-1">Certificate</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- services sub menu -->
            <div class="dropdownSection" data-dropdown="contact">
                <div class="dropdownContent" style="width: 220px;">
                    <ul class="linkGroup">
                        <li>
                            <a class="linkContainer" href="/contact">
                                <img class="nav-service-icon" src="/files/phone-call.svg" alt="Contact Us"
                                    title="Contact Us">
                                <h6 class="link-underline mt-1">Contact Us</h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer" href="/inquiry?new=1">
                                <img class="nav-service-icon" src="/files/clipboard.svg" alt="Inquiry" title="Inquiry">
                                <h6 class="link-underline mt-1">Inquiry</h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer" href="/jobs">
                                <img class="nav-service-icon" src="/files/job-search.svg" alt="Job Application"
                                    title="Job Application">
                                <h6 class="link-underline mt-1">Job Opening</h6>
                            </a>
                        </li>
                        <!-- <li>
                            <a class="linkContainer" href="/issues">
                                <img class="nav-service-icon" src="/files/project.svg" alt="Issues" title="Issues">
                                <h6 class="link-underline mt-1">Issues</h6>
                            </a>
                        </li> -->
                    </ul>
                    <div class="ml-2">
                        <div class="my-3 ">
                            <a href="application-form?new=1" class="">
                                <p class="d-flex justify-content-center">
                                    <img class="nav-service-icon" src="/files/project.svg" alt="Issues" title="Issues">
                                    Job Application
                                </p>
                            </a>
                            <ul>
                                <li class=" mt-1 d-flex justify-content-center">
                                    <a href="/application-form?new=1&job_title=sales-executives-marketing-executive"
                                        class="d-flex">
                                        <h6 class="">
                                            Sales Executives
                                        </h6>
                                        <img src="/files/right-arrow-nav.svg" class="m-2" alt="right-arrow" height="15"
                                            width="15">
                                    </a>
                                </li>

                                <li class="  mt-1 d-flex justify-content-center">
                                    <a href="/application-form?new=1/appllication-form?new=1&job_title=technical-content-writer" class="d-flex">
                                        <h6 class="">
                                            Content Writer
                                        </h6>
                                        <img src="/files/right-arrow-nav.svg" class="m-2" alt="right-arrow" height="15"
                                            width="15">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- clients menu -->
            <div class="dropdownSection" data-dropdown="clients">
                <div class="dropdownContent" style="width: 200px;">
                    <ul class="linkGroup">
                        <li>
                            <a class="linkContainer" href="/Customer">
                                <img class="nav-service-icon" src="/files/target.svg" alt="Clients"
                                    title="Clients">
                                <h6 class="link-underline mt-1">Clients</h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer" href="/testimonial">
                                <img class="nav-service-icon" src="/files/review.svg" alt="Testimonials"
                                    title="Testimonials">
                                <h6 class="link-underline mt-1">Testimonials
                                </h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Service Sub menu -->
            <div class="dropdownSection" data-dropdown="service">
                <div class="dropdownContent" style="width:353px;">
                    <ul class="linkGroup">
                        <li>
                            <a class="linkContainer" href="/calibration-and-validation-services">
                                <img class="nav-service-icon" src="/files/calibration_validation_icon.svg"
                                    alt="Calibration & Validation Services" title="Calibration & Validation Services">
                                <h6 class="link-underline mt-1">Calibration & Validation Services</h6>
                            </a>
                        </li>
                        <li>
                            <a class="linkContainer" href="/manufacturing-facilities">
                                <img class="nav-service-icon" src="/files/factory.svg" alt="Manufacturing Facilities"
                                    title="Manufacturing Facilities">
                                <h6 class="link-underline mt-1">Manufacturing Facilities
                                </h6>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>


            <!-- login submenu -->

            {% if frappe.session.user != 'Guest' %}
            <div class="dropdownSection left logged-in" data-dropdown="eie-login">
                <div class="dropdownContent">
                    <div class="linkGroup linkList loginGroup">
                        <div>
                            <a class="linkContainer item-about" href="/me" rel="nofollow">
                                <img class="nav-service-icon float-left" src="/files/nav-my-account.svg"
                                    alt="My account" title="My account">
                                <h6 class="d-inline-block mt-1">{{ _('My Account') }}
                                </h6>
                            </a>
                        </div>
                        <div>
                            <a class="linkContainer item-about" href="/?cmd=web_logout" rel="nofollow">
                                <img class="nav-service-icon float-left" src="/files/nav-logout.svg" alt="Logout"
                                    title="Logout">
                                <h6 class="d-inline-block mt-1">{{ _('Logout') }}
                                </h6>
                            </a>
                        </div>
                        <div>
                            <a class="linkContainer item-about" href="/desk" rel="nofollow">
                                <img class="nav-service-icon float-left" src="/files/nav-switch-to-desk.svg" alt="Desk"
                                    title="Desk">
                                <h6 class="d-inline-block">{{ _('Switch To Desk') }}
                                </h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    </div>
</header>