{% set parent_item_group = frappe.get_all("Website Itemgroup",{'parent_website_itemgroup':'All Item Groups','show_in_website':1,'is_group':1}) %}
{% set data = {} %}
{% for item_group in parent_item_group %}
{% set _ = data.update({item_group.name:frappe.get_all('Website Itemgroup',{'parent_website_itemgroup':item_group.name})}) %}
{% endfor%}
<div class="industry-group-sub col-xl-12 row pt-2  d-flex flex-row">
    <div class="d-block col-4">
        <div class="top-cat" >
            <ul class=" top-label">
                {% for key, value in data.items() %}
                {% set parent_doc = frappe.get_doc("Website Itemgroup",key)%}
                <li>
                    <a href="/{{ parent_doc.route }}" class="has-child activeP"  id="{{ parent_doc.name|replace(' ','')|replace('&','') }}">
                        <img class="nav-service-icon" src="{{ frappe.db.get_value('Website Itemgroup',key,'svg') }}" alt="{{parent_doc.name}}" >
                        <h6 class="pt-1">{{ parent_doc.name }}</h6>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-4">
        <div class="custom-menu-block">
            <div class="child-cat">
                {% for key, value in data.items() %} 
                {% if key|replace(' ','')|replace('&','') == 'PaperPackagingTestingInstruments' %}
                <div id="child{{key|replace(' ','')|replace('&','')}}" class="subcat-inner active">
                    <ul class="cal-listing">
                        {% for v in value %}
                        {% set child_doc = frappe.get_doc("Website Itemgroup",v['name']) %}  
                            <li class="sizing-nav active mb-2"><a href="/{{child_doc.route}}">{{  child_doc.name }}</a></li>
                        {% endfor %}       
                    </ul>
                </div>
                {% endif %}
                <div id="child{{key|replace(' ','')|replace('&','')}}" class="subcat-inner" >
                    <ul class="cal-listing">
                        {% for v in value %}
                        {% set child_doc = frappe.get_doc("Website Itemgroup",v['name']) %}  
                            <li class="sizing-nav mb-2" style="display: block;"><a href="/{{child_doc.route}}">{{ child_doc.name }}</a></li>
                        {% endfor %}       
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-start pl-0">
        <a href='#' class="d-block">
            <div class="image-container-overlap animated-square-nav">
                <div class="image-stack mt-0">
                {% for key, value in data.items() %}
                {% set parent_doc = frappe.get_doc("Website Itemgroup",key)%}
                {% if key|replace(' ','')|replace('&','') == 'PaperPackagingTestingInstruments' %}
                <div class="image-stack__item image-stack__item--bottom" id="image{{key|replace(' ','')|replace('&','')}}" >
                    <img class=" flex-inner  nav-ind-image active" width="370"
                        src="{{ frappe.db.get_value('Website Itemgroup',key,'image') }}" alt="{{parent_doc.name}}">
                </div>
                {% endif %}
                    <div class="image-stack__item image-stack__item--bottom" id="image{{key|replace(' ','')|replace('&','')}}" >
                        <img class=" flex-inner  nav-ind-image" width="370"
                            src="{{ frappe.db.get_value('Website Itemgroup',key,'image') }}" alt="{{parent_doc.name}}">
                    </div>
                {% endfor %}
                </div>
            </div>
        </a>
    </div>
</div>

<script>
       $('.top-cat li a').hover(function() {
           let i;
        let id = $(this).attr('id');
    	$('.child-cat .subcat-inner').each(function() {
            $(this).removeClass('active');
    	});
        $('.image-stack .flex-inner').each(function() {
            $(this).removeClass('active');
            $(`#${id}`).addClass('active');
            $(`#image${id}`).children().addClass('active');
    	});
    	$('.top-label a').each(function(){
    		$(this).removeClass('activeP');
    	});
    	$(`#${id}`).addClass('activeP');
        $(`#child${id}`).addClass('active');
        // if ($('.child-cat .subcat-inner').hasClass('active')) {
        //     // alert('hello');
        //     $(`#${id}`).addClass('activeP');
    	// 	$(`#child${id}`).addClass('active');
        //  } else {
    	// $(`#${id}`).removeClass('activeP');
    	// 	$(`#child${id}`).removeClass('active');
    	// }
    });
</script>