{%- if doctype == "Web Form" and name == "contact" -%}
<section class="section-contact-us" id="section-contact-us" style="padding-bottom: 0;">
    <div class="container-fluid">
      <div class="row pt-50">
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
          <!--<h3 class="dark-text title-underline">Contact Us</h3>
-->
         <div class="elementor-text-editor elementor-clearfix">
        &lt;iframe src="<a href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14687.35228826332!2d72.692162!3d23.029717!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeabd15390649302!2sEIE%20Instruments%20Private%20Limited!5e0!3m2!1sen!2sin!4v1601894014299!5m2!1sen!2sin">https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14687.35228826332!2d72.692162!3d23.029717!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xeabd15390649302!2sEIE%20Instruments%20Private%20Limited!5e0!3m2!1sen!2sin!4v1601894014299!5m2!1sen!2sin</a>" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"&gt;&lt;/iframe&gt;
        </div>

     
		</div>

        <div class="col-xl- col-lg-5 col-md-12 col-sm-12">
          <div class="image-container">
            <div class="image-container-overlap">
              <div class="image-stack">
                <div class="image-stack__item image-stack__item--top behind-square">
                      <img alt="validation-img" class="img-fluid img2-back-overlay" src="files/pJVDwjV0Dh.svg" style="border-radius: 0; padding: 0;">
                </div>

                <div class="image-stack__item image-stack__item--bottom">
               
                        <img alt="validation-img" class="img-fluid image-anime " src="files/pJVDwjV0Dh.svg" style="">
             
              </div>

            </div>

           
          </div>

        </div>

      </div>

      <div class="clearfix"></div>

  </div>
</div>
</section>
  
 


<section class="sdfg" style="padding: 0;">
<div class="row pt-50">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <h2 class="dark-text title-underline ">Contact Details</h2>

        </div>

    </div>

<div class="container-fluid pt-50">
<div id="accordion">
  <div class="card card-abc">
    <div class="card-header abc" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collape-btn active">
          Founders &amp; Co-Founders
        </button>
      </h5>

    </div>

    <div class="collapse show" id="collapseOne">
      <div class="card-body">
          <div class="row">
<div class="col-sm-4">
 <div class="collapse-detail">
 <h6>Mr. Sanjay Parikh</h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
             <a>+91-79660 40611</a>
          </div>

          <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
             <a>+91-79660 40643</a>
          </div>

            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
             <a href="#">sanjay@eieinstruments.com</a>
          </div>

 </div>

</div>

<div class="col-sm-4">
 <div class="collapse-detail">
 <h6>Mr. Deepak Parikh</h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
            <a>+91-79662 11205</a>
          </div>

          <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
             <a>+91-98240 41391</a>
          </div>

            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
            <a href="#">deepak@eieinstruments.com</a>
          </div>

 </div>

</div>

<div class="col-sm-4">
 <div class="collapse-detail">
 <h6>Mr. Uday Parikh</h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
            <a>+91-79662 11213</a>
          </div>

          <!--<div class="icon-top">-->
          <!--  <img alt="phone" title="phone" src="/svg/phone.svg" class="detail-icon">-->
          <!--</div>
-->
          <!--  <div class="call-detail">-->
          <!--   <a href="tel:+91-9824041391">+91-98240 41391</a>-->
          <!--</div>
-->
            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
           <a href="#">uday@eieinstruments.com</a>
          </div>

 </div>

</div>

      
        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
      </div>

    </div>

  </div>

  <div class="card card-abc">
    <div class="card-header abc" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed collape-btn">
          CEO (Chief Executive Officers)
        </button>
      </h5>

    </div>

    <div class="collapse" id="collapseTwo">
      <div class="card-body">
      
        <div class="row">
<div class="col-sm-4">
 <div class="collapse-detail">
 <h6>Mr. Kunal Parikh (Export Head)</h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
             <a>07874716251</a>
          </div>

         
            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
             <a href="mailto:kunal@eieinstruments.com">kunal@eieinstruments.com</a>
          </div>

 </div>

</div>

        <div class="col-sm-4">
         <div class="collapse-detail">
             <h6>Mr. Chintan Parikh</h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
             <a>+91-79-22165580</a>
          </div>

           <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
             <a> +91-9904202401</a>
          </div>

         
            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
             <a href="mailto:chintan@eieinstruments.com">chintan@eieinstruments.com</a>
          </div>

        </div>

        </div>

          <div class="col-sm-4">
           <div class="collapse-detail">
            <h6>Mr. Nisarg Parikh</h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
             <a>+91-79-26578395</a>
          </div>

         
            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
            <a href="mailto:nisarg@eieinstruments.com ">nisarg@eieinstruments.com </a>
          </div>

          </div>

</div>

 
 
 
        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
      </div>

    </div>

  </div>

  <div class="card card-abc">
    <div class="card-header abc" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed collape-btn">
         Residence Representatives
        </button>
      </h5>

    </div>

    <div class="collapse" id="collapseThree">
      <div class="card-body">
      
         <div class="row">
<div class="col-sm-4">
 <div class="collapse-detail">
 <h6>Kunal Parikh(Chief Executive - Mumbai)</h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
            <a>+917966040613</a>
          </div>

          <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
            <a>+917874716251 </a>
          </div>

            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
             <a href="mailto:kunal@eieinstruments.com ">kunal@eieinstruments.com </a>
          </div>

 </div>

</div>

<div class="col-sm-4">
 <div class="collapse-detail">
 <h6>Mr. Krupal Mehta(Executive - Surat </h6>

        <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
            <a>+91-99740 13323</a>
          </div>

          <div class="icon-top">
            <img alt="phone" class="detail-icon" src="/svg/phone.svg" title="phone">
          </div>

            <div class="call-detail">
            <a>+917874716251 </a>
          </div>

            <div class="icon-top">
           <img alt="mail" class="detail-icon" src="/svg/mail.svg" title="mail">
          </div>

            <div class="call-detail">
             <a href="mailto:krupalmmehta@gmail.com ">krupalmmehta@gmail.com</a>
          </div>

</div>

</div>

<div class="col-sm-4"></div>



</div>

</div>

        <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
      </div>

    </div>

  </div>

</div>


</div>

</div>
</section>
{%- endif -%}