<div class="landing-navbar-main-dark container-fluid header-hide-content pt-2 px-0">
    <div class="row hs-unfold d-none d-sm-block">
        <div class=" col-12">
            <div class="row   nav_contact_h">
                <div class="col-xl-4 col-sm-4 col-md-4 col-12 ">
                    <!-- social icon -->
                    <p class="t-white footer-txt-sm px-2 d-flex h-social">
                        <a href="https://www.facebook.com/EIEInstruments" class="fb" target="_blank"></a>
                        <a href="https://twitter.com/eieinstrument" class="tw" target="_blank"></a>
                        <a href="https://www.linkedin.com/company/eie-instruments-pvt-ltd" class="in"
                            target="_blank"></a>
                        <a href="https://www.youtube.com/watch?v=A49xThsRn3I&amp;t=5s" class="yt" target="_blank"></a>

                    </p>
                </div>

                <div class="col-xl-4 col-sm-4 col-md-4 col-12 float-sm-left">
                    <div class="top-link">
                        <a href="/calibration-and-validation-services">NABL Accredited Calibration Laboratory</a>
                    </div>
                </div>

                <div class="col-xl-4 col-sm-4 col-md-4 col-12 float-sm-left">
                    <div class="nav-search mr-5 mr-md-4 pr-3">
                        <!-- <form> -->
                            <!-- <a class="ml-1"> -->
                                <input type="image" class="nav-search-btn ml-1" src="/files/nav-search.png">
                            <!-- </a> -->
                            <input type="search" placeholder="Search" class="txt" aria-label="{{_('Product Search')}}" 
                            aria-describedby="product-search" value="{{ frappe.form_dict.search or '' }}" id="search-product-Nav">
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        
    </script> -->
    <div class="container ">
        <div class="d-sm-none show ">
            <div class="row">
                <div class="col-12 d-flex justify-content-center p-1">
                    <div class="top-link">
                        <a href="/calibration-and-validation-services">NABL Accredited Calibration Laboratory</a>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center p-1">
                    <div class="nav-search">
                        <form>
                            <a class="ml-1">
                                <input type="image" class="nav-search-btn" src="/files/nav-search.png">
                            </a>
                            <input type="text" placeholder="Search" class="txt">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>