{% extends "templates/web.html" %}
{% block header %}<h1>{{ name }}</h1>{% endblock %}
{% block page_content %}

<div class="container ">
    <div class="item-group-content" itemscope itemtype="http://schema.org/Product">
        <div>
            {% if slideshow %}
            <!-- slideshow -->
            {% include "templates/includes/slideshow.html" %}
            {% endif %}
            {% if description %}
            <!-- description -->
            <!-- <div class="mb-3" itemprop="description">{{ description or ""}}</div> -->
            {% endif %}
            
        </div>
       {% if items and items[0].item_code %}
        <div class="row pb-0">
            <div class="col-8">
                <div class="search" >
                    <input type="search"  class="searchTerm" placeholder="Search Product" aria-label="{{_('Product Search')}}" 
                        aria-describedby="product-search" value="{{ frappe.form_dict.search or '' }}" id="search-product">
                        <button type="search" class="searchButton">
                            <img class="nav-service-icon pl-2" src="/files/search-gery.svg">
                        </button>
                </div>
            </div>
            <div class="col-4  col-md-2 d-flex justify-content-end">
                {% if frappe.form_dict.start or frappe.form_dict.field_filters or frappe.form_dict.attribute_filters or frappe.form_dict.search %}
                    <a class="d-inline-block clear-filter" style="cursor: pointer;">{{ _('Clear Filters') }}</a>
                {% endif %}
            </div>
            <script>
                console.log('search-product')
                 function searchGroupProduct(){
                    var productName=$('#search-product').val();
                            var pathname = window.location.pathname;
                            console.log(pathname);
                            var origin   = window.location.origin; 
                            if(productName == ''){
                                let URL=origin+pathname;
                                window.location= URL;
                            }else{
                                let URL = origin+pathname+"?search="+productName;
                                console.log(URL);
                                window.location= URL;
                            }
                    }
                    $('#search-product').keyup(function(e){
                        if (event.keyCode === 13) {
                        e.preventDefault();
                        var searchtext = $('#search-product').val();
                        window.location.href = '?search='+searchtext ;
                        }
                    })
                    $('.searchButton').on('click',(e)=>{
                            searchGroupProduct();
                    })

                $('.clear-filter').on('click',()=>{
                    var pathname = window.location.pathname;
                    var origin   = window.location.origin; 
                    var URL=origin+pathname;
                    window.location=URL;
                })
            </script>
        </div>
        {% endif %}
       
        <div class="row">
            <div class="col-md-12">
                {% if items %}
                <div id="search-list" class=" row  order-2  order-md-1 products-list">
                    {% for i in range(0, page_length) %}
                   
                    {% if items[i] %}
                    {%- set item = items[i] %}
                    {% include "eieweb/www/all-products/item_row.html" %}
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="container d-flex justify-content-center">
                    
                    {% if frappe.form_dict.start|int > 0 %}
                    <!-- <a class="btn btn-outline-secondary" -->
                    <a class=""
                        href="/{{ pathname }}?start={{ frappe.form_dict.start|int - page_length }}"><button class="eie-button" 
                        style="transform: translate(0%, -50%);"><span>{{ _("Prev") }}</span></button></a>
                    {% endif %}
                    {% if items|length > page_length %}
                    
                    <a class=""
                        href="/{{ pathname }}?start={{ frappe.form_dict.start|int + page_length }}" ><button class="eie-button"><span>{{ _("Next") }}</span></button></a>
                    {% endif %}
                    
                </div>
                
                {% else %}
                <div class="text-muted">{{ _("No items listed") }}.</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

