{{ doc.company_introduction }}
<!---------------------- Timeline -------------------------- -->


<section>
    <div class="container-fluid"></div>
    <div class="row pt-50">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <h2 class="dark-text">{{ doc.company_history_heading }}</h2>
        </div>
    </div>

    <!-- <div class="container"> -->
    <div class="row pt-50">
        <div class="col-md-12">
            <div class="main-timeline">
                {% for timeline_time in doc.get({"doctype":"Company History"}) %}
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon"
                            style="vertical-align: middle; object-fit: contain; -o-object-fit: contain;">
                            <i class="fa" style="vertical-align: middle;
                            object-fit: contain;
                            -o-object-fit: contain;">
                                <img class="finbyz-icon-custom" src="{{ timeline_time.image }}">
                            </i>
                        </div>
                        <h3 class="title">{{ timeline_time.year }}</h3>
                        <p class="description">
                            {{ timeline_time.highlight }}
                        </p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>


</section>


<!-----------------------Section Services Start---------------------------->



<section class="services" id="service-section">
    <div class="container-fluid">
        <div class="row pt-50 pt-0">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="dark-text">{{ doc.team_members_heading }}</h2>
            </div>
        </div>

        <div class="row pt-0 pt-50">

            {% for key_emp in doc.team_members %}

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="row bd-callout bd-callout-info">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 grayscale-img">
                        {% if key_emp.image_link %}
                        <img src="{{ key_emp.image_link }}" class="align-self-start"
                            style="object-fit: contain; vertical-align: middle; -o-object-fit: contain;"
                            alt="{{ key_emp.full_name }}" width="160" height="185">

                        {% else %}
                        <img src="/files/person-image.jpg" class="align-self-start"
                            style="object-fit: contain; vertical-align: middle; -o-object-fit: contain;"
                            alt="{{ key_emp.full_name }}" width="160" height="185">
                        {% endif %}
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                        <div class="mr-5">
                            <h5 class="mt-0">{{ key_emp.full_name }}</h5>
                            <p> {{ key_emp.bio }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="row pt-50 d-flex pt-0">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <h2 class="dark-text">Member</h2>
            </div>
            <!-- <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 m-o p-0"> -->
            <!-- {{ emp_list }} -->
            {% for row in employee %}
            {% if row.image %}
            <div class=" d-flex p-2">
                <div class="media grayscale-img">
                    <img src="{{ row.image }}"
                        style="object-fit: contain; vertical-align: middle; -o-object-fit: contain;"
                        alt="{{ row.name }}" height="75" width="75">
                </div>
            </div>

            {% else %}
            <div class=" d-flex mt-2 p-2">
                <div class="media grayscale-img">
                    <img src="/files/person-image.jpg"
                        style="object-fit: contain; vertical-align: middle; -o-object-fit: contain;"
                        alt="{{ row.name }}" height="75" width="75">
                </div>
            </div>

            {% endif %}

            {% endfor %}
            <!-- </div> -->

        </div>

</section>